[Unit]
Description=WiFi Connect
After=network.target

[Service]
Type=simple
ExecStart=/Users/xuanpeichen/Desktop/code/python/Ink-wash-photo-frame/captive_open.sh start_app
Restart=on-failure
User=xuanpeichen

[Install]
WantedBy=multi-user.target
