[Unit]
Description=WiFi Connect
After=network.target

[Service]
Type=simple
ExecStart=/home/xuanpeichen/Desktop/Ink-wash-photo-frame/captive_open.sh start_app
Restart=on-failure

[Install]
WantedBy=multi-user.target
